/* 
  테마 컬러
    color: #9747FF;  // 찐보라색
    color: #E3CDFF;  // 연보라색
    color: #E4E4E4;  // 옅은회색
 */

p {
  margin: 0;
}

#container {
  overflow-y: scroll;
}

#regionWrapper {
  height: 9.1rem;
}

/* #regionWrapper p {
    margin: 0;
    margin-bottom: 1.6rem;
    font-size: 2.8rem;
    font-weight: 700;
} */

.subTitle {
  margin: 0;
  margin-bottom: 1.6rem;
  font-size: 2.8rem;
  font-weight: 700;
}

/* 지역 검색 */

#regionWrapper p {
  margin-bottom: 1.6rem;
}

/* #regionWrapper select {
    width: 36.434rem;
    padding: 0.7rem 0.834rem 0.7rem 1.7rem;
    border: 0;
    border: 0.1rem solid #E4E4E4;
    border-radius: 0.3rem;
} */

.regionBox * {
  box-sizing: border-box;
}

.regionBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 36.434rem;
  height: 3.5rem;
  font-size: 1.2rem;
  border: 0.1rem solid #e4e4e4;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* .regionBox::after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 35px;
    background-color: red;
} */

.regionBox .label {
  display: flex;
  align-items: center;
  width: inherit;
  /*width: 30rem;*/
  height: inherit;
  margin: 0;
  border: 0 none;
  /*border: 1px solid red;*/
  outline: 0 none;
  padding-left: 15px;
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
}

.regionBox .regionList {
  position: absolute;
  top: 2.4rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 0.1rem solid #f9f9f9;
  list-style-type: none;
  padding: 0;
  border-radius: 0.5rem;
  overflow: scroll;
  max-height: 0;
  transition: 0.3s ease-in;
}

.regionBox.active .regionList {
  max-height: 14rem;
}

.regionBox .regionItem {
  display: flex;
  align-items: center;
  height: 3.5rem;
  /* border-bottom: 1px dash rgb(170, 72, 72); */
  padding: 0.7rem 1.5rem 0.8rem;
  transition: 0.1s;
}

.regionBox .regionItem:hover {
  background: #f4f4f4;
}

/* .regionBox .regionItem:last-child {
    border-bottom: 0 none;
} */

/* 스크롤 커스텀 */
.regionBox .regionList::-webkit-scrollbar {
  width: 0.3rem;
  height: 3.5rem;
}

.regionBox .regionList::-webkit-scrollbar-track {
  background: transparent;
}

.regionBox .regionList::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 45px;
}

.regionBox .regionList::-webkit-scrollbar-thumb:hover {
  background: #686868;
}

/* 검색 시간대 및  이용시간 */

#timeWrapper {
  margin-top: 5.2rem;
}

.timeItemWrapper {
  width: 36.4rem;
  border-top: 0.1rem solid #b6b6b6;
  border-bottom: 0.1rem solid #b6b6b6;
}

.timeItemWrapper p {
  margin-left: 0.7rem;
  margin-top: 1.6rem;
}

/*
#timeSettingWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.3rem;
  margin-bottom: 1.6rem;
}
*/
#timeSettingWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2.3rem 0.7rem 1.6rem 0;
}

.timeItemWrapper span {
  margin: 0 3.8rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.timeItemWrapper p {
  font-weight: 400;
  font-size: 1.8rem;
}

.timeSettingItem {
  display: flex;
  font-display: column;
  justify-content: space-around;
  width: 10.2rem;
}

.timeSettingItem input {
  width: 8rem;
  border: none;
  font-size: 2.5rem;
  font-weight: 700;
}

.timeSettingItem img {
  cursor: pointer;
}

input[readonly] {
  border: none;
  cursor: pointer;
}

input[readonly]:focus {
  outline: none;
}

/* 모달 - 검색 시간대 */
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 41rem;
  box-shadow: 0px -5px 3px 3px rgba(181, 181, 181, 0.25);
  background-color: #fff;
}

.modalContent {
    display: flex;
    flex-direction: column;
}

.modal.searchTime .modalContent {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 34.9rem;
  height: 34.3rem;
}

#startDate {
  width: 100%;
  font-weight: 700;
  font-size: 2.8rem;
}

.timeTypeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7.2rem;
  height: 10.2rem;
  margin-top: 4.9rem;
}

.timeSettingWrapper {
  display: flex;
  gap: 2.1rem;
  width: 34.9rem;
  height: 15.1rem;
  margin-top: 4rem;
}

.timeType {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.2rem;
  height: 3.7rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  border: 0.1rem solid #e4e4e4;
}

.timeType.active {
  border: 0.2rem solid #9747ff;
}

.timeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25.6rem;
}

.timeWrapper span {
  margin: 0;
  margin-top: 3.5rem;
  font-size: 6rem;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10.9rem;
  height: 15.1rem;
  font-size: 6rem;
}

.time p {
  margin: 0;
  font-size: 2rem;
}

.time input {
  width: 10.9rem;
  height: 10.4rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
  font-size: 6rem;
  box-shadow: 2px 2px 2px 2px rgba(181, 181, 181, 0.25);
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  width: 32rem;
  margin-top: 4rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.2rem;
  height: 5.5rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: #9747ff;
}

.btn.cancel {
  color: #979797;
  background-color: #e4e4e4;
}

.timeItemWrapper.item3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: -0.1rem;
}

.timeItemWrapper.item3 p {
  width: 100%;
}

.timeSettingItem.item3 {
  margin: 0.6rem 0.7rem 1.6rem 0;
}

/* 모달 - 이용시간 */
.modal.usingTime .modalContent {
    justify-content: center;
    align-items: center;
    width: 37rem;
    height: 37rem;
}

.modal.usingTime .modalContent img {
    width: 4.1rem;
    height: 4.1rem;
}

/* .modal.usingTime .modalContent p {
    font-size: 2.8rem;
    font-weight: 700;
} */

.closeIconWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 0.4rem;
}

.modalContent .subTitle {
    width: 100%;
    margin: 0;
    margin-bottom: 4rem;
}

.modal.usingTime .btn {
    margin-top: 4rem;
}



/* .timeSettingItem div {
    display: flex;
    flex-direction: column;
    /* font-size: 2.5rem;
    font-weight: 700; 
} */

/* 추가 조건 */
#additionalOptionWrapper {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 38.1rem;
  height: 16.3rem;
  margin-top: 5rem;
}

.optionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: 9.7rem;
}

.optionItem {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 8.7rem;
  height: 9.7rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 0.1rem solid #e4e4e4;
}

.optionItem.active {
  border-color: #e3cdff;
}
.optionItem.active svg {
  fill: #e3cdff;
}
.optionItem.active p {
  color: #e3cdff;
}

.optionItem img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.6rem;
}

.optionName {
  width: inherit;
  font-size: 1.2rem;
  text-align: center;
}

button {
  width: 17.6rem;
  height: 7rem;
  margin-top: 2.8rem;
  margin-left: 20rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  background-color: #9747ff;
}
