@CHARSET "UTF-8";
.header{
    width: 430px;
    height: 75px;
    left: 0px;
    top: 0px;
    position: absolute;
}
.music_input_group{
    display: grid;
    grid-template-rows: 7.4rem auto 7.4rem;
    width: 80vw;
    height: 95%;
}
.music_input{
    width: 100%;
    height: 5.0rem;
    border: 1px solid #bbb;
    border-radius: 25px;
    padding: 10px 12px;
    font-size: 14px;
}
.music_search{
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}
.ent_button_group{
    width: 430px;
    height: 50px;
    position: absolute;
    background: none;
}
.TJ_button{
        width: 70px;
        height: 35px;
        position: absolute;
        background: #9747FF;
        border-radius: 40px;
}
.KY_button{
        width: 70px;
        height: 35px;
        position: absolute;
        background: #9747FF;
        border-radius: 40px;
}