@CHARSET "UTF-8";

#container{
    display: flex;
    justify-content: flex-start; 
    
}

.music_input_group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* grid-template-rows: 7.4rem auto 7.4rem; */
    width: 38.0rem;
    /* height: 95%; */
    height: 5.0rem;
    /* border: 1px solid violet; */
    border-radius: 22px;
    border: 1px solid #bbb;
    margin-top: 2.4rem;
    margin-bottom: 0.8rem;
}
.music_input{
    width: 80%;
    height: 5.0rem;
    border: none;
    /* border-radius: 22px; */
    padding: 1rem 6rem;
    font-size: 130%;
    font-weight: bold;
}
.music_search{
    width: 1.7rem;
    margin: 0;
}
.ent_button_group{
    width: 43rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    background: none;
}
.TJ_button{
    flex-basis: auto;
        width: 7rem;
        height: 3.5rem;
        position: relative;
        margin-right: 0.5rem;
        border-color: #E4E4E4;
        background: white;
        border-radius: 4rem;
        font-size: 150%;
}
.KY_button{
    flex-basis: auto;
    width: 7rem;
    height: 3.5rem;
    position: relative;
    border-color: #E4E4E4;
    background: white;
    border-radius: 4rem;
    font-size: 150%;
}
input::placeholder{
    color:  #B6B6B6;
    font-weight: bold;
}
input:focus {outline:none;}

/* 
input search type일때 붙는 못생긴 x 지우기 */
input {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration{
      display: none;
    }
  }
  