#container {
  row-gap: 3rem;
  overflow: scroll;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mypage-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 16rem;
}

#logout-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;

  border: 1px solid #fc6262;
  color: #fc6262;
  border-radius: 40px;
  background-color: transparent;
}

/* 페이지 공통 */
.info-setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1.8rem;
}

.info-1-setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.info-2-setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.info-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/*****************************/

#user-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

#mypage-user-icon {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 0.5rem;
  padding-right: 5rem;
}

#user-nickname {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  /* display: flex;
  align-items: center; */
}

#edit-user-info-button {
  width: 111px;
  height: 31px;

  border: 1px solid #9747ff;
  border-radius: 40px;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

/* 북마크 */

/* 별점 */

.starScoreWrapper {
  display: flex;
  gap: 0.4rem;
  /* width: 13.8rem; */
  margin-bottom: 1rem;
  width: 100%;
  height: 2.4rem;
}

.starScoreWrapper span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e3cdff;
}

.stars img {
  width: 2.4rem;
  height: 2.4rem;
}

.stars {
}

#bookmark-info-wrapper {
}

#bookmark-info {
}

#bookmark-info-1 {
}

/* 폰트/크기 설정 */

.info-bold-text {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22px;
}

.info-amount {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #a4a4a4;
}

.info-normal-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
}

.arrow-right {
  width: 1rem;
  height: 1rem;
}

.playlist-name {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 16px;
}

/* 플레이리스트 */

#playlists {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  justify-content: center;
}

.playlist {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

/* 리뷰 */

#review-item {
  width: 35rem;
  height: 16rem;

  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#review-content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#review-content2 {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.review-date {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #808080;
}

.review-description {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.delete-button {
  width: 5rem;
  height: 3rem;
  left: 341px;
  top: 169px;

  background: #f2f2f2;
  border-radius: 40px;
  border: none;

  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14px;

  text-align: center;

  color: #808080;
}

.KK-title {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  cursor: pointer;
}

/* ************** 나의 리뷰 페이지 ******************* */

#review-items {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
