/* #container {
  display: flex;
  justify-content: flex-start;
} */

.musiclist {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.selected_playlist {
  width: 100%;
  height: 8rem;
  border: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
}
.playlist_group {
  display: flex;
  flex-direction: row;
}
.playlist_title {
  width: 90%;
  height: 5rem;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
}

.select_btn {
  float: right;
  margin: 0;
  background-color: transparent;
  border: 0px;
}
.select_img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0;
  flex-direction: column;
}

.playlist_song_num {
  width: 80%;
  height: 3rem;
  font-size: 150%;
  font-weight: bold;
  color: #979797;
  position: relative;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 4.5rem;
  text-align: right;
}
.music_outputs {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.music_outputs::-webkit-scrollbar {
  display: none;
}
.music_output {
  width: 100%;
  height: 7.6rem;
  border: 1px solid #e4e4e4;
  display: flex;
}
.music_num {
  height: 6rem;
  width: 8.2rem;
  font-size: 180%;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
  position: relative;
  border-radius: 3rem;
  border: 2px solid #e3cdff;
}

.music_info {
  margin-left: 2rem;
  height: 7.4rem;
  width: 25.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.music_title {
  height: 60%;
  width: 100%;
  font-size: 170%;
  font-weight: 400;
  text-overflow: hidden;
}

.music_singer {
  height: 40%;
  width: 100%;
  color: #7b7b7b;
  font-size: 140%;
  margin-top: 1rem;
}
.music_delete {
  width: 7.2rem;
  height: 7.4rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.delete_img {
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.option1 {
  width: 90%;
  height: 50%;
  float: left;
  position: flex;
  margin-left: 1rem;
  background-color: white;
  border-bottom: 1px solid #979797;
  align-content: center;
}
.option2 {
  width: 90%;
  height: 40%;
  float: left;
  position: flex;
  margin-left: 1rem;
  background-color: white;
  align-content: center;
}
.dropdown_menu {
  width: 19rem;
  height: 7.4rem;
  border-radius: 1rem;
  border: 2px solid #979797;
  background-color: white;
  color: black;
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  position: absolute;
  right: 0%;
  top: 10.5%;
  z-index: 4000;
  display: none;
}
