/* 임시 폰트 설정 */
* {
  font-family: "Noto Sans KR", sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row; /* row or column 알아서 */
  width: 100%;
  min-height: calc(100vh - 15rem);
  /* flex: 1; */
  background-color: #fff;
  overflow: scroll;
}

#reservation-wrapper {
  width: 100%;
  height: 3.5rem;
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin: 2rem;
  row-gap: 2rem;
}

#reservations-status {
  width: 100%;
  height: 3.5rem;

  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

#reservations-status > button {
  font-size: 1.6rem;

  width: 106px;
  height: 35px;

  border: transparent;
  background-color: transparent;
}

#reservations-status > .active {
  border: 1px solid #9747ff;
  border-radius: 40px;
  background-color: transparent;
}

#reservation-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

#total-reservation {
  width: 100%;
  height: 3.5rem;
  column-gap: 1rem;
}

#total-reservation > span {
  font-size: 1.8rem;
  font-weight: 700;
}

#reservation-contents-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.reservation-content-wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 1rem;

  row-gap: 1rem;
}

.reservation-status-wrapper {
  width: 10rem;
  height: 2.2rem;
  background: #f2f2f2;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.reservation-status {
  font-weight: 700;
  font-size: 12px;
  width: 10rem;
  text-align: center;
  color: #808080;
}

.reservation-content {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}

.reservation-detail-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.reservation-detail {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.reservation-detail-row {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.kk-name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 20px;
}

.reservation-time {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.reservation-start-time {
  display: flex;
  flex-direction: row;
}

.reservation-end-time {
  display: flex;
  flex-direction: row;
}

.button-wrapper {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.submit-button {
  width: 7.5rem;
  height: 3.2rem;

  background: #9747ff;
  border-radius: 10px;
  border: none;

  font-size: 1.2rem;
  color: #ffffff;
}

.cancel-button {
  width: 7.5rem;
  height: 3.2rem;

  border-radius: 10px;
  border-style: solid;

  border-width: 1px;
  border-color: #e4e4e4;
  background-color: #ffffff;

  font-size: 1.2rem;
}

/* .review-button1 {
  width: 7.5rem;
} */

.review-button2 {
  width: 9.5rem;
  color: #888888;
  background-color: #e4e4e4;
}

.cancel-info {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 16px;

  display: flex;
  column-gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  
}

.cancel-info > div {
  color: #ff5e5e;
}

/* 모달 */

/* 부트스트랩 속성 변경 */

.modal-header {
  border-bottom: none;
  padding: 2rem 2rem;
}

.modal-footer {
  justify-content: center;
  border-top: none;
  padding: 0 2rem 2rem 2rem;
}

.btn-close {
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
}

.modal-dialog-centered {
  justify-content: center;
}

.modal-content {
  width: 90%;
  border-radius: 1rem;
}
/* 공통 */

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}

/* 시간 추가 모달 */

#add1-modal-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#add1-modal-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4rem;
  /* padding: 2rem; */
  padding: 0 2rem 2rem 2rem;
}

#add1-modal-body-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#add1-modal-body-title > span {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  text-align: center;
}

#add1-modal-body-contents {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#add1-modal-body-contents > hr {
  border: 0.8px solid #b6b6b6;
}

.add1-modal-body-content {
  display: flex;
  justify-content: center;
  flex-direction: row; /* row or column 알아서 */
  width: 100%;
}

.add1-modal-body-content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  width: 20rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add1-modal-body-content-time {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;

  width: 20rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add1-addTime {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.7rem;

  width: 20rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;

  color: #9747ff;
}

#additional-hour-a {
  display: flex;
  flex-direction: row;
}

#additional-minute-a {
  display: flex;
  flex-direction: row;
}

.add-button {
  width: 9rem;
  height: 4rem;
  font-size: 1.5rem;
}

#add1-add-time-arrow-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;

  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  width: 20rem;
  height: 3rem;
}

#set-hour {
  margin-left: 3rem;
}

/* .modal-footer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.add1-add-time-arrow {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  background-image: url("/WebContent/img/down_arrow.svg");
  background-repeat: no-repeat;
  background-size: 3rem;
  cursor: pointer;
}

#add1-notice {
  width: auto;
  height: 2rem;

  margin-top: 1rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fc6262;
}

/* 시간 추가 모달 2 : 추가 시간 설정 */

#add2-modal-body-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
}

#add2-modal-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10rem;
}

#add2-modal-time > span {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

#add2-modal-time-setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}

#add2-modal-time-setting > span {
  font-size: 6rem;
}

.add2-time-setting-input {
  width: 10rem;
  height: 10rem;
  left: 89px;
  top: 695px;
  font-size: 80px;

  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  outline: none;

  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
}

/* 시간 추가 모달 3 : 예약 내용 확인 */

#add3-pay-amount {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 1rem 1rem 0 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.back-button {
  border-radius: 10px;
  border-style: solid;

  border-width: 1px;
  border-color: #e4e4e4;
  background-color: #ffffff;
  color: #000000;
}

/* 모달 4 */
#add4-modal-body-wrapper {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  text-align: center;
  padding: 1.5rem 3rem 3rem 3rem; /* 안됨 */
}

/* 예약 취소 모달 */

.cancel-modal-body-wrapper {
  width: 100%;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 3rem;
}

.cancel-modal-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 25px;

  text-align: center;
}

.cancel-modal-content {
  /* width: 30rem;
  height: 15rem; */

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 22px;
  text-align: center;
}

/* 리뷰 작성 모달 */

.review-modal-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.review-modal-content {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 20px;
}

.description {
  width: 90%;
  height: 25rem;

  background: #f2f2f2;
  border-radius: 10px;
  border: none;
  outline: none;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: #717171;
  /* text-indent: 1rem; */
  padding: 2rem;
}

.inquire-modal-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.inquire-button {
  width: 12rem;
}

.submit-button:disabled {
  color: #888888;
  background-color: #e4e4e4;
}

.reservation-time-info{
  display: flex;
  flex-direction: row;
}

#star{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
}

#review-star{
  width: 3rem;
  height: 3rem;

  border-radius: 5px;
  border-style: solid;

  border-width: 1px;
  border-color: #e4e4e4;
  background-color: #ffffff;

  font-size: 1.4rem;
  text-align: center;
}

.star-wrapper{
	
}